@charset "UTF-8";

body {
	margin: 0 auto;
	padding: 10px 5%;
}

.no-data {
	text-align: center;
	background-color: white;
}

.container {
	margin: auto;
	text-align: center;
}

.menu-bar {
	margin: 10px 0;
}

.location-container {
	margin: 10px 0;
}

.bookmark-group-add-btn {
	margin: 5px 0;
}

.centered-data {
	text-align: center;
}